
h2 {
    border-bottom: dashed gray;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    
}
table {
    border-spacing : 0 ;
    margin: auto;
    border-collapse : collapse ;
}
  

.target, td {
    text-align : center ;
    border : 1px solid gray ;
    padding : 5px;
    background-color: palegoldenrod;
}
button {

    font-family: 'Courier New', Courier, monospace;
    border: 2px solid lightpink;
    color: gray; 
    font-weight: bold;
    background: white;
    border-radius: 5px;
    width: 150px;
    padding: 5px;
     
}
#options {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    align-content: center;
}
  
  .slots {
        background-color: lightskyblue;
        padding: 20px;
        margin: 50px;
        border: 2pt dashed white;
        
    }  
  #newScore { 
    display: flex;
    justify-content: space-around;

    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: lightskyblue;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    margin: 20px; 
    margin: auto; 
    padding: 10px;
   
  }
    
tr {
    padding: 0px; 
    margin: 0px;
    background-color: white ;    
   
}
  #MyTiles {
    height: 125px;
    width: 525px;
    background-color: rgb(238, 238, 238);
    border-top: 2pt solid lightgray; 
    border-bottom: 2pt solid lightgray;  
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.tiles img {
    width: 75px;
    height: 75px;
}
    
     
  /* make the table head column separators white */
  /* (start with the 2nd column and go backwards) */
  /*th:nth-child(-n+2) {
    border-right : 1px solid white ;
  }*/
  